﻿@model  X.PagedList.PagedList<bitcasino.io.web.Models.AccsModel>

@{
    var param = "";
    if (Request.Params["email"] != null)
    {
        param += "&email=" + Request.Params["email"];
    }
    if (Request.Params["username"] != null)
    {
        param += "&username=" + Request.Params["username"];
    }
    if (Request.Params["tab"] != null)
    {
        param += "&tab=" + Request.Params["tab"];
    }
}

@if (Model != null)
{
    long totalPage = 0;
    long check = Model.TotalItemCount % Model.PageSize;
    if (check > 0)
    {
        totalPage = Model.TotalItemCount / Model.PageSize + 1;
    }
    else if (check == 0)
    {
        totalPage = Model.TotalItemCount / Model.PageSize;
    }
    if (totalPage > 1)
    {
        <ul class="pagination">
            @if (Model.PageNumber > 1)
            {
                var pagePrev = Model.PageNumber - 1;
                <li class="page-item">
                    <a class="page-link" href="@string.Format("{0}{1}", Url.Action("Index", "Accs", new { @*pagesize = Model.PageSize,*@ page = pagePrev }), param)">
                        <span aria-hidden="true">
                            <i class="fa fa-angle-double-left"></i>
                        </span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            @{
                int size = 3;
                //int countTotalPage = 0;
                long k = Model.PageNumber + size;
                long j = Model.PageNumber - size;

                if (j < 1)
                {
                    j = 1;
                    k = k - (Model.PageNumber - size);
                }
                if (k > totalPage)
                {
                    j = j - (k - totalPage);
                    if (j < 1)
                    {
                        j = 1;
                    }
                    k = totalPage;
                }
                if (j > 1)
                {
                    if (Model.PageNumber - size > 0)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@string.Format("{0}{1}", Url.Action("Index", "Accs", new { page = 1 }), param)">1</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)">...</a>
                        </li>
                    }
                }
                for (long i = j; i <= k; i++)
                {
                    if (Model.PageNumber == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@string.Format("{0}{1}", Url.Action("Index", "Accs", new { @*pagesize = Model.PageSize,*@ page = i }), param)">@i</a>
                        </li>
                    }
                }
                if (k < totalPage)
                {
                    if (Model.PageNumber + size < totalPage)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)">...</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="@string.Format("{0}{1}", Url.Action("Index", "Accs", new { @*pagesize = Model.PageSize,*@ page = totalPage }), param)">@totalPage</a>
                        </li>
                    }
                }
            }

            @if (Model.PageNumber < totalPage)
            {
                var pageNext = Model.PageNumber + 1;
                <li class="page-item">
                    <a class="page-link" href="@string.Format("{0}{1}", Url.Action("Index", "Accs", new { @*pagesize = Model.PageSize,*@ page = pageNext }), param)">
                        <span aria-hidden="true">
                            <i class="fa fa-angle-double-right"></i>
                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            }
        </ul>
    }
}

