﻿@model bitcasino.io.web.Models.CreateAccsBindingModel
@{
    ViewBag.Title = "Tạo accs";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2">@ViewBag.Title</h1>
    <a href="@Url.Action("Index")" class="d-inline-block btn btn-sm btn-secondary shadow-sm"><i class="fas fa-arrow-left fa-fw fa-sm text-white-50"></i> Quay lại</a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "Accs", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.PasswordRaw, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PasswordRaw, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PasswordRaw, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.IsUsing, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IsUsing, (SelectList)ViewBag.TrangThaiId, "--- Trạng thái ---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IsUsing, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <input type="submit" value="Tạo user" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}