﻿
@model X.PagedList.PagedList<bitcasino.io.web.Models.AccsModel>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Danh sách accs bot";
    var email = Request.Params["email"];
    var username = Request.Params["username"];
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2">@ViewBag.Title</h1>
    <a href="@Url.Action("Create")" class="d-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Tạo mới</a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        <div class="block-content block-content-full tab-content overflow-hidden">
            <!-- Classic -->
            <div class="tab-pane fade show active">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    PasswordRaw
                                </th>
                                <th>
                                    IsUsing
                                </th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.PasswordRaw
                                </td>
                                <td>
                                    @item.IsUsing
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") @*|| User.IsInRole("Manager")*@)
                                    {
                                        <a href="@Url.Action("EditAcc", "Accs", new { id = item.Id })" class="btn btn-sm btn-primary"><i class="fas fa-trash fa-fw"></i> Sửa</a>
                                        @*<a href="#" data-href="@Url.Action("EditUser", "Users", new { id = item.Id })" class="btn btn-sm btn-primary"><i class="fas fa-trash fa-fw"></i> Sửa</a>*@
                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a href="#" data-href="@Url.Action("DeleteAcc", "Accs", new { id = item.Id })" class="btn btn-sm btn-danger btnDeleteUser"><i class="fas fa-trash fa-fw"></i> Xóa</a>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                @{
                    X.PagedList.PagedList<bitcasino.io.web.Models.AccsModel> page = ViewBag.PageList as X.PagedList.PagedList<bitcasino.io.web.Models.AccsModel>;
                }
                @Html.Partial("_PageList", page)
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="set-role" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Phân quyền</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Accs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section css {
    @Styles.Render("~/Content/jquery-ui")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")
    <script>
        $("#nav-item-user").addClass("active");

        $(".datepicker").datepicker();

        function editUserRole(id) {
            $("#set-role .modal-body").html('<i class="fas fa-fw fa-spin fa-spinner"></i>');
            $("#set-role").modal('show');

            $.ajax({
                method: "GET",
                url: '@Url.Action("EditUserRole", "Users")',
                data: { id: id },
                success: function (res) {
                    $("#set-role .modal-body").html(res);

                    $('#form-edit-role').submit(function (e) {
                        e.preventDefault();
                        $.ajax({
                            method: $('#form-edit-role').attr('method'),
                            url: $('#form-edit-role').attr('action'),
                            data: $('#form-edit-role').serializeArray(),
                            success: function (res) {
                                location.reload();
                            }
                        });
                    });
                }, error: function (error) {
                    alert("Error!");
                }
            });
        }

        $(".lock-user").on("click", function (e) {
            e.preventDefault();
            $button = $(this);

            if (confirm('Are you sure?')) {
                $.ajax({
                    type: "GET",
                    url: $(this).attr("data-href"),
                    success: function (res) {
                        if (res == true) {
                            // update content
                            $button.toggleClass('btn-primary btn-danger');
                            $('i', $button).toggleClass('fa-lock fa-unlock');
                        }
                    }
                });
            }
        });

        $(".btnConfirm").on("click", function (e) {
            e.preventDefault();
            $button = $(this);

            if (confirm('Are you sure?')) {
                $.ajax({
                    type: "GET",
                    url: $(this).attr("data-href"),
                    success: function (res) {
                        // update content
                        $button.parent().html('<small class="text-success"><i class="fas fa-check fa-fw"></i> Đã xác nhận</small>');
                    }
                });
            }
        });


        $("#page-top").on("click", ".btnDeleteUser", function (e) {
            e.preventDefault();

            $("#deleteUserModal .modal-body").html('<i class="fas fa-fw fa-spin fa-spinner"></i>');
            $("#deleteUserModal").modal('show');

            $.ajax({
                method: "GET",
                url: $(this).attr("data-href"),
                success: function (res) {
                    $("#deleteUserModal .modal-body").html(res);

                    $('#formDeleteUser').submit(function (e) {
                        e.preventDefault();
                        $.ajax({
                            method: $('#formDeleteUser').attr('method'),
                            url: $('#formDeleteUser').attr('action'),
                            data: $('#formDeleteUser').serializeArray(),
                            success: function (res) {
                                $('#formDeleteUser .field-validation-valid').html('');
                                if (res.code == 1) {
                                    $("#formDeleteUser").modal('hide');
                                    //toastr.success("Thêm thành công!", "Thông báo");

                                    window.location.reload();
                                } else {
                                    $.each(res.errs, function (i, v) {
                                        $('#formDeleteUser [data-valmsg-for=' + v.Pos + ']').html(v.Error);
                                    })
                                }
                            }
                        });
                    });
                }, error: function (error) {
                    alert("Error!");
                }
            });
        });

        $("#btnExcel").on("click", function () {
            $("#frmFilter #download").val("true");
            $("#frmFilter").submit();
            $("#frmFilter #download").val("false");
        });
    </script>
}
