﻿
@using bitcasino.io.web.Models
@model DeleteUserViewModel

@using (Html.BeginForm("DeleteUser", "Users", FormMethod.Post, new { role = "form", @id = "formDeleteUser" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserId)
    <div class="alert alert-warning" role="alert">
        Are you sure you want to delete the user, all related data will be deleted?
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-md-12" })
        <div class="col-md-12">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="clearfix">
        <div class="float-right">
            <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete User</button>
        </div>
    </div>
}
