﻿@model bitcasino.io.web.Models.CreateUserBindingModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Chỉnh sửa User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditUser</h2>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2">@ViewBag.Title</h1>
    <a href="@Url.Action("Index")" class="d-inline-block btn btn-sm btn-secondary shadow-sm"><i class="fas fa-arrow-left fa-fw fa-sm text-white-50"></i> Quay lại</a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("EditUser", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.ActiveDate, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActiveDate, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(m => m.ActiveDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @if (User.Identity.GetUserId() != Model.Id)
                {
                    @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.RoleId, (SelectList)ViewBag.RolesId, "--- Role ---", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                    </div>
                }
                else
                {
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.RoleId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                    </div>
                }

            </div>


            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <input type="submit" value="Chỉnh sửa user" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

@section css {
    @Styles.Render("~/Content/jquery-ui")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jquery-ui")

    @Scripts.Render("~/js/cke")
    @Scripts.Render("~/js/ckadapter")
    <script>
        $(".datepicker").datepicker({
            //minDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate())
        });
    </script>
}