﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/common-styles")
    @Styles.Render("~/Content/sb-admin")

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
</head>

<body class="bg-gradient-primary">
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/common-libs")
    @Scripts.Render("~/bundles/sb-admin")
    @Scripts.Render("~/main/js")
    @RenderSection("scripts", required: false)
</body>
</html>
